<div class="container text-center" id="header">
  <div class="row">
    <div class="col-xs-12">
      <div class="padded">
        <h2>List of Cocktails</h2>
      </div>
    </div>
  </div>

  <div class="row">
      <% @cocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card">
            <div class="card-img">
              <%= cl_image_tag cocktail.photo.path, height: 250, width: 300, crop: :fit %>
            </div>
            <div class="card-details">
              <%= link_to cocktail.name, cocktail_path(cocktail) %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to new_cocktail_path, class: "card-link" do %>
          <div class="card" id="card-add">
            <div class="card-img">
              <%= image_tag "noun_581919_cc.png" %>
            </div>
            <div class="card-details">
              <p>Add a new cocktail</p>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>

<%= link_to "Add a cocktail", new_cocktail_path, class: "btn" %>
